@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");

.clickable-div {
    cursor: pointer;
}

.modal {
    display: flex;
    align-items: center;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 170% !important;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    /* border-radius: var(--bs-modal-border-radius); */
    outline: 0;
}

.modal-header {
    background-color: #f1f1f1;
}

.modal-dialog {
    margin: auto;
}

.btn-logo-icono {
    background-color: transparent;
    border: none;
}

.logo-icono {
    width: 50px;
}

p {
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-family: "Red Hat Display", sans-serif;
}

h6 {
    font-family: "Red Hat Display", sans-serif;
    color: #d7411d !important;
    /* background-color: white; */
    font-size: 17px !important;
    height: 30px;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: 400 !important;
}

h5 {
    color: #522db2 !important;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500 !important;
    font-size: 18px !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

ol,
ul {
    padding-left: 0 !important;
}

:root {
    --poppins: "Poppins", sans-serif;
    --lato: "Lato", sans-serif;
    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
    --yellow: #ffce26;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --light-orange: #ffe0d3;
    --bs-body-bg: #eee !important;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #0c0c1e;
    --grey: #060714;
    --dark: #fbfbfb;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

.relative {
    position: relative;
}

/* Estilo para el contenedor de la imagen */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* 100% del alto de la ventana */
    overflow: hidden; /* Desactiva el desplazamiento */
    margin: 0;
    padding: 0;
    position: relative;
}

/* Estilo para la imagen responsiva */
.responsive-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.adicional-image {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 25%;
    opacity: 75%;
}
/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 100%;
    border-radius: 17px;
}
#sidebar::--webkit-scrollbar {
    display: none;
}
#sidebar.hide {
    width: 60px;
}
#sidebar .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 2%;
    left: 0;
    background: var(--light);
    z-index: 500;
    box-sizing: content-box;
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}
#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}
#sidebar .side-menu li {
    height: 60px;
    background: transparent;
    margin-left: 10px;
    border-radius: 48px 0 0 48px;
    padding: 6px;
}
#sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}
#sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}
#sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}
#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: #773dbd;
    white-space: nowrap;
    overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
    color: #ff9e18;
}
#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width 0.3s ease;
}
.img-full {
    display: block;
}
.img-redu {
    display: none;
    width: 70%;
    margin: 5px;
}
#sidebar.hide .img-full {
    display: none;
}
#sidebar.hide .img-redu {
    display: block;
}
#sidebar .side-menu li a.logout {
    color: var(--red);
}
#sidebar .side-menu.top li a:hover {
    color: #ff9e18;
}
#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}
/* SIDEBAR */

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: 0.3s ease;
}
#sidebar.hide ~ #content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
#content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
    color: var(--dark);
}
#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}
#content nav .nav-link {
    font-size: 16px;
    transition: 0.3s ease;
}
#content nav .nav-link:hover {
    color: #ff9e18;
}
#content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}
#content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}
#content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}
#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}
#content nav .notification {
    font-size: 20px;
    position: relative;
}
#content nav .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}
#content nav .switch-mode {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
}
#content nav .switch-mode::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--blue);
    border-radius: 50%;
    transition: all 0.3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
    left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */

/* MAIN */
#content main {
    width: 100%;
    padding: 14px 18px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: hidden;
    overflow-x: hidden;
}
#content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
#content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}
.breadcrumb {
    --bs-breadcrumb-margin-bottom: 0rem !important;
}

#content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-left: 10px;
}
#content main .head-title .left .breadcrumb li {
    color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
    color: #e0592a;
    pointer-events: unset;
}
#content main .head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
}

#content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}
#content main .box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}
#content main .box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: #773dbd;
}
#content main .box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
}
#content main .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}
#content main .box-info li .text p {
    color: var(--dark);
}

#content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 14px;
    width: 100%;
    color: var(--dark);
}
#content main .table-data > div {
    border-radius: 20px;
    background: var(--light);
    padding: 14px;
    overflow-x: auto;
}
#content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}
#content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}
#content main .table-data .head .bx {
    cursor: pointer;
}

#content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}
#content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}
#content main .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
    padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}
#content main .table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
    background: var(--grey);
}
#content main .table-data .order table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
    background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
    background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
    background: var(--orange);
}

#content main .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
    width: 100%;
}
#content main .table-data .todo .todo-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
    cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
    border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
    border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
}

/* Acordeon */
.casos-exito {
    margin-top: 20px;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: #cfd1ff9b !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
        var(--bs-accordion-border-color);
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: none !important;
}

.casos-exito-text {
    color: rgb(115, 115, 115) !important;
    font-weight: 500;
}

.barra-progreso {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
}

.progreso {
    height: 20px;
    background-color: #4caf50;
    text-align: right;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    transition: width 2s;
}

#progreso1 {
    width: 0%;
}

#progreso2 {
    width: 0%;
}

#progreso3 {
    width: 0%;
}

#progreso4 {
    width: 0%;
}

#progreso5 {
    width: 0%;
}

#progreso6 {
    width: 0%;
}

#progreso7 {
    width: 0%;
}

#progreso8 {
    width: 0%;
}

#progreso9 {
    width: 0%;
}

#progreso10 {
    width: 0%;
}

#progreso11 {
    width: 0%;
}

#progreso12 {
    width: 0%;
}

#progreso13 {
    width: 0%;
}

#progreso14 {
    width: 0%;
}

#progreso15 {
    width: 0%;
}

#progreso16 {
    width: 0%;
}

#progreso17 {
    width: 0%;
}

#progreso18 {
    width: 0%;
}

/* Animaciones */
@keyframes cargaProgreso1 {
    from {
        width: 0%;
    }
    to {
        width: 12%;
    }
}

@keyframes cargaProgreso2 {
    from {
        width: 0%;
    }
    to {
        width: 17%;
    }
}

@keyframes cargaProgreso3 {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

@keyframes cargaProgreso4 {
    from {
        width: 0%;
    }
    to {
        width: 25%;
    }
}

@keyframes cargaProgreso5 {
    from {
        width: 0%;
    }
    to {
        width: 30%;
    }
}

@keyframes cargaProgreso6 {
    from {
        width: 0%;
    }
    to {
        width: 22%;
    }
}

@keyframes cargaProgreso7 {
    from {
        width: 0%;
    }
    to {
        width: 36%;
    }
}

@keyframes cargaProgreso8 {
    from {
        width: 0%;
    }
    to {
        width: 43%;
    }
}

@keyframes cargaProgreso9 {
    from {
        width: 0%;
    }
    to {
        width: 19%;
    }
}

@keyframes cargaProgreso10 {
    from {
        width: 0%;
    }
    to {
        width: 15%;
    }
}

@keyframes cargaProgreso11 {
    from {
        width: 0%;
    }
    to {
        width: 19%;
    }
}

@keyframes cargaProgreso12 {
    from {
        width: 0%;
    }
    to {
        width: 27%;
    }
}

@keyframes cargaProgreso13 {
    from {
        width: 0%;
    }
    to {
        width: 4%;
    }
}

@keyframes cargaProgreso14 {
    from {
        width: 0%;
    }
    to {
        width: 5%;
    }
}

@keyframes cargaProgreso15 {
    from {
        width: 0%;
    }
    to {
        width: 33%;
    }
}

@keyframes cargaProgreso16 {
    from {
        width: 0%;
    }
    to {
        width: 2%;
    }
}

@keyframes cargaProgreso17 {
    from {
        width: 0%;
    }
    to {
        width: 4%;
    }
}

@keyframes cargaProgreso18 {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

#progreso1 {
    animation: cargaProgreso1 2s ease-out forwards;
}

#progreso2 {
    animation: cargaProgreso2 2s ease-out forwards;
}

#progreso3 {
    animation: cargaProgreso3 2s ease-out forwards;
}

#progreso4 {
    animation: cargaProgreso4 2s ease-out forwards;
}

#progreso5 {
    animation: cargaProgreso5 2s ease-out forwards;
}

#progreso6 {
    animation: cargaProgreso6 2s ease-out forwards;
}

#progreso7 {
    animation: cargaProgreso7 2s ease-out forwards;
}

#progreso8 {
    animation: cargaProgreso8 2s ease-out forwards;
}

#progreso9 {
    animation: cargaProgreso9 2s ease-out forwards;
}

#progreso10 {
    animation: cargaProgreso10 2s ease-out forwards;
}

#progreso11 {
    animation: cargaProgreso11 2s ease-out forwards;
}

#progreso12 {
    animation: cargaProgreso12 2s ease-out forwards;
}

#progreso13 {
    animation: cargaProgreso13 2s ease-out forwards;
}

#progreso14 {
    animation: cargaProgreso14 2s ease-out forwards;
}

#progreso15 {
    animation: cargaProgreso15 2s ease-out forwards;
}

#progreso16 {
    animation: cargaProgreso16 2s ease-out forwards;
}

#progreso17 {
    animation: cargaProgreso17 2s ease-out forwards;
}

#progreso18 {
    animation: cargaProgreso18 2s ease-out forwards;
}

/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }

    #content {
        width: calc(100% - 60px);
        left: 200px;
    }

    #content nav .nav-link {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    #content nav form .form-input input {
        display: none;
    }

    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--dark);
    }

    #content nav form.show .form-input input {
        display: block;
        width: 100%;
    }
    #content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--light);
        background: var(--red);
    }

    #content nav form.show ~ .notification,
    #content nav form.show ~ .profile {
        display: none;
    }

    #content main .box-info {
        grid-template-columns: 1fr;
    }

    #content main .table-data .head {
        min-width: 420px;
    }
    #content main .table-data .order table {
        min-width: 420px;
    }
    #content main .table-data .todo .todo-list {
        min-width: 420px;
    }
}
