/* @media (min-width: 1367px) and (max-width: 1919px) { */
.position1 {
    position: absolute;
    /* border: 1px red solid; */
    z-index: 1;
    width: 6%;
    height: 10%;
    top: 20%;
    left: 57%;
}

.position2 {
    position: absolute;
    /* border: 1px red solid; */
    z-index: 1;
    width: 6%;
    height: 10%;
    top: 47%;
    left: 57%;
}

.position3 {
    position: absolute;
    /* border: 1px red solid; */
    z-index: 1;
    width: 6%;
    height: 10%;
    top: 75%;
    left: 57%;
}

.info-modelado {
    display: flex;
    justify-content: space-evenly;
}
